<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="margin: 10%; background-color: blue; color: orange; ">
    <button><a href="{% url 'index' %}" style="text-decoration: none ; ">Back</a></button>
    <p>litget is a leading, independent Digital Assets Investment platform that provides bespoke financial solutions that add value to our individual and institutional clients. We are licensed and regulated by the Securities & Exchange Commission (SEC) and Financial Industry Regulatory Authority ( FINRA ) to provide Investment Banking, Asset Management and Securities Trading services to our discerning clientele.</p>
    <p>We serve as an asset owner on behalf of Prudential With-Profts policyholders, and our pensions and annuity customers. This means we make decisions about how to allocate money to different asset classes and which asset manager should manage our money.</p>
    <p>We also have the important responsibility of deciding the financial outcomes we want our asset managers to deliver for us, and the sustainability considerations we require them to apply.</p>
    <p>We approach sustainability from three perspectives: an asset owner, an asset manager, and as a company in our own right, While our responsibilities and obligations in each of these three roles may differ, as we discuss below, our approach in all three is united by a common set of principles and ambitions, set out in the box at the bottom of the page.</p>
    <p>As an asset manager, we must aim to deliver the financial outcomes and any sustainability requirements set out in the objectives of each of our mutual funds, or in the mandates we receive from institutional clients.</p>
    <p>Sometimes there may be differences in the sustainability criteria that external clients mandate, and in turn these may differ from the requirements of our internal client.
While our values of care and integrity inform all our sustainability work, the asset manager and asset owner are separately regulated businesses with independent Boards and governance processes, and their policies may diverge on occasion.</p>
<p>litget seeks to make investments in companies that meet the following investment criteria: Led by managers with an established track record of achievement Participate in economically attractive, fragmented, niche industries with strong fundamentals Demonstrate a sustainable competitive advantage, including an ability to grow, innovate and withstand economic downturns Possess strong market positions, attractive cash flow attributes and high return on investment enabling them, inter alia, to service a leveraged capitalization Enjoy excellent organic or acquisitive growth prospects</p>
<p>litget has experience executing the following transaction types:</p>
<p>Management buyouts of public and privately held companies and divisions of larger companies. Recapitalizations of closely held businesses in order to provide additional financing or liquidity for existing investors Acquisitions of companies seeking the financing required to execute consolidation strategies in fragmented but attractive industries</p>
<p>Selected equity financings of growth companies that have demonstrated significant potential Equity investments in growth companies
Investments in companies participating in industries in whichlitget has extensive investment experience</p>
</body>
</html>